body {
  font-size: 20px;
  margin-left: 30px;
}

.battlefield {
  display: flex;
  background-color: black;
  padding: 3px;
  margin: 5px;
  border-radius: 5px;
}

.card {
  background-color: grey;
  width: 200px;
  height: 250px;
  margin: 5px;
  border-radius: 5px;
  overflow-y: auto;
  border: solid;
  border-color: rgb(68, 68, 68);
}

.dead-card {
  background-color: black;
  color: white;
}

.selected-card {
  background-color: rgb(189, 16, 16);
  color: white;
}

.leader-card {
  background-color: rgb(187, 255, 0);
  color: rgb(173, 0, 0);
  animation-name: blinking;
  animation-duration: 1s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

@keyframes blinking {
  from {background-color: rgb(187, 255, 0);}
  to {background-color: rgb(187, 255, 200);}
}

.card-force {
  margin: 5px;
  font-size: 25px;
}

.card-pv {
  margin: 5px;
  font-size: 25px;
}

.card-capacity {
  margin: 7px;
  font-size: 20px;
}

#cards-list {
  display: flex;
  background-color: coral;
}

.deck-action {
  margin: 6px;
  padding: 3px;
  width: 200px;
  height: 40px;
  font-size: 20px;
}

#card-zone {
  display: flex;
}

#card-editor {
  background-color: rgb(252, 34, 78);
  margin: 20px;
  padding: 10px;
  width: 350px;
}

.card-action {
  display: block;
  margin: 10px;
  padding: 3px;
  width: 200px;
  height: 40px;
  font-size: 20px;
}