body {
  font-size: 20px;
  margin-left: 30px;
}

.battlefield {
  display: flex;
  background-color: black;
  padding: 3px;
  margin: 5px;
  border-radius: 5px;
}

.card {
  background-color: grey;
  width: 200px;
  height: 250px;
  margin: 5px;
  border-radius: 5px;
  overflow-y: auto;
}

.dead {
  background-color: black;
  color: white;
}

.card-force {
  margin: 5px;
  font-size: 25px;
}

.card-pv {
  margin: 5px;
  font-size: 25px;
}

.card-capacity {
  margin: 7px;
  font-size: 20px;
}