body {
  font-size: 20px;
  margin-left: 30px;
}

/*--- In match ---*/

/* Meta */
.change-step-buttons {
  width: 170px;
  height: 80px;
  font-size: 20px;
}

#game {
  width: 100%;
  height: 700px;
}

/* Texts */
.indications {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Structures */
.battlefield {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  padding: 3px;
  margin: 5px;
  border-radius: 5px;
}

.card {
  background-color: grey;
  width: 200px;
  height: 250px;
  margin: 5px;
  border-radius: 5px;
  overflow-y: auto;
  border: solid;
  border-color: rgb(68, 68, 68);
}

#step-buttons {
  width: 100%;
  display: flex;
  justify-content: center;
}

.change-step-buttons {
  margin: 5px;
}

/* Special cards */
.dead-card {
  background-color: black;
  color: white;
}

.leader-card {
  background-color: rgb(187, 255, 0);
  color: rgb(0, 0, 0);
}

.entered-this-step {
  animation-name: appearing;
  animation-duration: 1s;
  animation-direction: normal;
  animation-iteration-count: 1;
}

.is-resolving {
  border-color: rgb(255, 255, 255);
  animation-name: resolving;
  animation-duration: 1s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

.is-fighting-0 {
  animation-name: fighting0;
  animation-duration: 0.5s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

.is-fighting-1 {
  animation-name: fighting1;
  animation-duration: 0.5s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

/* Animations */
@keyframes appearing {
  from {
    scale: 0;
  }

  to {
    scale: 1;
  }
}

@keyframes resolving {
  from {
    scale: 1;
  }

  to {
    scale: 1.1;
  }
}

@keyframes fighting0 {
  from {
    position: relative;
    top: 0;
  }

  to {
    position: relative;
    top: 50px;
  }
}

@keyframes fighting1 {
  from {
    position: relative;
    top: 0;
  }

  to {
    position: relative;
    top: -50px;
  }
}

/* In a card */
.card-force {
  margin: 5px;
  font-size: 25px;
}

.card-pv {
  margin: 5px;
  font-size: 25px;
}

.card-capacity {
  margin: 7px;
  font-size: 20px;
}

/*--- In deck creator ---*/

.selected-card {
  background-color: rgb(189, 16, 16);
  color: white;
}

#cards-list {
  display: flex;
  background-color: coral;
}

.deck-action {
  margin: 6px;
  padding: 3px;
  width: 200px;
  height: 40px;
  font-size: 20px;
}

#card-zone {
  display: flex;
}

#card-editor {
  background-color: rgb(252, 34, 78);
  margin: 20px;
  padding: 10px;
  width: 350px;
}

.selector {
  min-width: 100px;
  height: 23px;
}

.card-action {
  display: block;
  margin: 10px;
  padding: 3px;
  width: 200px;
  height: 40px;
  font-size: 20px;
}